<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %5p %c{2} - %m%n</pattern>
<!--            현재 날짜 & 로그 레벨 & 메세지 & 줄개행-->
        </encoder>
    </appender>
    <root level="INFO">
<!--        기본 레벨 INFO-->
        <appender-ref ref="stdout" />
    </root>

    <logger name="org.springframework.jdbc" level="DEBUG" />
    <logger name="org.koreait.mapper" level="DEBUG" />
</configuration>