spring:
  # DB 설정
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:test
    username: sa
    password:

  # JPA 설정
  jpa:
    hibernate:
      ddlAuto: create
# File Upload 경로
file:
  upload.path: D:/uploads/
  upload.url: /uploads/